@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.logo-header__wrapper {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
}

.logo-header {
  width: 100%;
  height: 100%;
}

.icon-navbar_wrapper:hover .icon-navbar,
.icon-navbar_wrapper.active .icon-navbar {
  color: black;
}

.icon-navbar_wrapper.active {
  color: black;
  border-bottom: 2px solid #ff385c !important;
}

.MuiList-root {
  width: 200px !important;
  box-shadow: 2px 2px 20px rgb(132, 132, 132) !important;
}

.card-detail__image:hover {
  filter: brightness(85%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.menuBtn {
  background-color: transparent;
  border: none;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}